<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>3.Form表单提交</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="app">
    <form action="" @submit.prevent="formSubmit">
        <div><input type="text" v-model="name"></div>
        <div>
            <select v-model="select">
                <option value="" selected disabled>请选择</option>
                <option v-for="item in selectArr" :value="item.value">{{item.label}}</option>
            </select>
        </div>
        <span v-for="item in items">
            <input type="checkbox" name="check" :value="item.value" v-model="checkedNames">{{item.value}}
        </span>
        <div>选择的值为：{{checkedNames}}</div>
        <button type="submit">提交</button>
    </form>
</div>
<script src="js/vue.min.js"></script>
<script src="js/axios.min.js"></script>
<script>
    var vm = new Vue({
        el: "#app",
        data: {
            name: "",
            select:"",
            selectArr: [
                {
                    label: "苹果",
                    value: 1
                },
                {
                    label: "香蕉",
                    value: 2
                },
                {
                    label: "橘子",
                    value: 3
                }
            ],
            items: [
                {
                    value: "苹果",
                    checked: true
                },
                {
                    value: "香蕉",
                    checked: false
                },
                {
                    value: "橘子",
                    checked: false
                }
            ],
            checkedNames: ['橘子'],
            url: '	https://bird.ioliu.cn/joke'
        },
        methods: {
            formSubmit: function () {
                axios({
                    method:'post',
                    url:this.url,
                    data:{
                        name: this.name,
                        select: this.select,
                        checkedNames: this.checkedNames
                    }
                }).then(function (response) {
                    console.log(response);
                }).catch(function (error) {
                        console.log(error);
                    });
            }
        }
    })
</script>
</body>
</html>